### Practical - 7: Write a Pandas program to implement following operation

### • to create a dataframe from a dictionary and display it

In [ ]:
# Name : Kushal V Lakhani 
# Enrollment No : 216270307005

import pandas as pd

a = {
    'Name':['kushal','Jenish','Mithil','Arjun','Sachin'],
    'Age':[19,23,20,21,22],
    'University':['Porbandar','Rajkot','Ahemdabad','Surat','Bhuj'],
}
print("Dictionary : - \n",a)

d = pd.DataFrame(a)
print("DataFrame :- \n",d)

### • to sort the DataFrame first by 'name' in ascending order

In [ ]:
# Name : Kushal V Lakhani
# Enrollment No : 216270307005

import pandas as pd

a = {
    'Id':[101,102,103,104],
    'Name':['Kushal','Jenish','Mithil','Arjun'],
}

d = pd.DataFrame(a)

print("Before sorting:\n", d)

print("After sorting:\n", d.sort_values(by='Name',ascending=True))

### • to delete the one specific column from the DataFrame

In [ ]:
# Name : Kushal V Lakhani
# Enrollment No : 216270307005

import pandas as pd

data = {
 'A': ['A1', 'A2', 'A3', 'A4', 'A5'],
 'B': ['B1', 'B2', 'B3', 'B4', 'B5'],
 'C': ['C1', 'C2', 'C3', 'C4', 'C5'],
 'D': ['D1', 'D2', 'D3', 'D4', 'D5'],
 'E': ['E1', 'E2', 'E3', 'E4', 'E5']
}

d = pd.DataFrame(data)

print("Before delete :- \n",d)

print(d.drop(['A'], axis=1))

### • to write a DataFrame to CSV file using tab separator

In [ ]:
# Name : Kushal V Lakhani
# Enrollment No : 216270307005

import pandas as pd

import numpy as np

students = {
    'Student': ['Kushal', 'Jenish', 'Mithil', 'Arjun'],
    'RollNumber': [1, 5, 10, 15],
    'Grade': ['A', 'C', 'F', 'B']
}

d = pd.DataFrame(students, columns =['Student', 'RollNumber', 'Grade'])

print("Original DataFrame :- \n",d)

d.to_csv('Students.csv', sep ='\t')

new_d = pd.read_csv('Students.csv')

print('Data from Students.csv :- \n',new_d)